body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #cdc;
}

a {
  color: #0066dd;
}


div.stream {
	border: 1px solid black;
	height: 200px;
	margin: 10px;
	overflow: auto;
	width: 500px;
}

#content {
	width: 800px;
	margin: auto;
}

div.stream {
	background-color: #fff;
	padding: 10px;
}