body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


div.stream {
	border: 1px solid black;
	height: 200px;
	margin: 10px;
	overflow: auto;
	width: 500px;
}